<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="relative flex flex-col justify-center h-screen overflow-hidden">
        <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-lg">
            <h1 class="text-3xl font-semibold text-center text-purple-700">회원가입</h1>
            <form th:action="@{/member/join}" th:object="${memberJoinDto}" method="post" class="space-y-4">
                <!-- 에러 메세지 -->
                <div th:replace="~{error/errorForm :: formErrorsFragment}"></div>
                <!-- -->
                <div>
                    <label class="label" for="username">
                        <span class="text-base label-text">사용자ID</span>
                    </label>
                    <input th:field="*{username}" id="username" type="text" class="w-full input input-bordered input-primary">
                </div>
                <div>
                    <label class="label" for="password">
                        <span class="text-base label-text">비밀번호</span>
                    </label>
                    <input th:field="*{password}" id="password" type="password" placeholder="******"
                           class="w-full input input-bordered input-primary">
                </div>
                <div>
                    <label class="label" for="passwordConfirm">
                        <span class="text-base label-text">비밀번호 확인</span>
                    </label>
                    <input th:field="*{passwordConfirm}" id="passwordConfirm" type="password" placeholder="******"
                           class="w-full input input-bordered input-primary">
                </div>
                <div>
                    <label class="label" for="email">
                        <span class="text-base label-text">이메일</span>
                    </label>
                    <input th:field="*{email}" id="email" type="email" class="w-full input input-bordered input-primary">
                </div>
                <div>
                    <button class="btn btn-primary">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>