<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="relative">
        <h2 class="text-4xl font-bold py-2" th:text="${post.title}"></h2>
        <div th:if="${!post.published}" class="badge badge-accent absolute bottom-0 right-0">회원전용</div>
    </div>

    <div class="divider"></div>

    <div class="card my-8 bg-base-100 shadow-xl">
        <div class="card-body">
            <p th:text="${post.body}"></p>
            <div class="card-actions justify-end">
                <div class="badge badge-ghost"
                     th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>
    </div>

    <!-- 수정과 삭제 버튼 -->
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername == post.member.username}"
         class="my-3 flex justify-end space-x-4">

        <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-sm btn-outline-secondary"
           th:text="수정"></a>

        <form th:action="@{|/post/${post.id}/delete|}" th:method="delete">
            <input type="submit" value="삭제" class="btn btn-sm btn-outline-secondary">
        </form>

    </div>
    <!-- 수정과 삭제 버튼 -->

    <!-- 추천 버튼 -->
    <div class="flex justify-center">
        <button class="btn py-2">
            <div class="flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     class="inline-block w-4 h-4 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"/>
                </svg>
                <div>추천</div>
            </div>
            <div class="badge">+99</div>
        </button>
    </div>
    <!-- 추천 버튼 끝-->

    <!-- 댓글 -->
    <div class="divider"></div>

    <h5 class="text-xl font-semibold mb-4" th:text="|${#lists.size(post.comments)}개의 댓글이 있습니다.|"></h5>
    <div class="chat chat-start my-3 relative" th:each="comment,loop:${post.comments}">
        <div class="chat-header" th:text="${comment.member.username}"></div>
        <div class="chat-bubble" th:text="${comment.body}"></div>
        <!-- 댓글 수정과 삭제 버튼 -->
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername == comment.member.username}"
             class="my-3 absolute bottom-0 right-0 flex space-x-4">

            <a th:href="@{|/post/${post.id}/comment/modify|}" class="btn btn-xs btn-outline-secondary"
               th:text="수정"></a>

            <form th:action="@{|/post/${post.id}/comment/delete|}" th:method="delete">
                <input type="submit" value="삭제" class="btn btn-xs btn-outline-secondary">
            </form>

        </div>
        <!-- 댓글 수정과 삭제 버튼 -->
    </div>


    <form th:action="@{|/post/${post.id}/comment/write|}" th:object="${commentForm}" method="post" class="space-y-4 my-8">
        <!-- 에러 메세지 -->
        <div th:replace="~{error/errorForm :: formErrorsFragment}"></div>
        <!-- -->
        <textarea th:field="*{body}" id="body" class="w-full p-2 border rounded-md"></textarea>
        <input type="submit" value="댓글등록"  class="btn btn-sm btn-primary my-8">
    </form>
    <!-- 댓글 끝-->

</div>
</html>
