<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">

    <div class="relative">
        <h2 class="text-4xl font-bold py-2" th:text="${post.title}"></h2>
        <div th:if="${!post.published}" class="badge badge-accent absolute bottom-0 right-0">회원전용</div>
    </div>

    <div class="divider"></div>

    <div class="card my-8 bg-base-100 shadow-xl">
        <div class="card-body">
            <p th:text="${post.body}"></p>
            <div class="card-actions justify-end">
                <div class="badge badge-ghost"
                     th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
            </div>
        </div>
    </div>

    <!-- 수정과 삭제 버튼 -->
    <div sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername == post.member.username}"
         class="my-3 flex justify-end space-x-4">

        <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-sm btn-outline-secondary"
           th:text="수정"></a>

        <a th:href="@{|/post/${post.id}/delete|}" class="btn btn-sm btn-outline-secondary"
           th:text="삭제"></a>
    </div>
    <!-- 수정과 삭제 버튼 -->

</div>
