<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">

    <h5 class="text-2xl font-bold py-2">
        <div th:if="${url== '/post/write'}" th:text="|글 작성|"></div>
        <div th:unless="${url== '/post/write'}" th:text="|글 수정|"></div>
    </h5>
    <div class="divider"></div>

    <form th:action th:object="${postWriteFormDto}" th:method="(${url== '/post/write'}) ? 'post':'put'">

        <!-- 에러 메세지 -->
        <div th:replace="~{error/errorForm :: formErrorsFragment}"></div>
        <!-- -->

        <label class="label-text text-lg" for="subject">제목</label>
        <input type="text" th:field="*{title}" id="subject" placeholder="제목을 입력하세요."
               class="input input-bordered w-full mb-3"/>

        <label class="label-text-lg mb-3" for="content">내용</label>
        <textarea th:field="*{body}" id="content" placeholder="내용을 입력하세요."
                  class="textarea textarea-bordered w-full mb-3"></textarea>

        <div class="card w-96 bg-base-200 shadow-xl w-full mb-3">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <p>해당 글을 전체에게 공개할까요?</p>
                    <input type="checkbox" th:field="*{isPublished}" class="toggle toggle-primary"/>
                </div>
            </div>
        </div>

        <div class="card w-96 bg-base-200 shadow-xl w-full">
            <div class="card-body">
                <div class="flex justify-between items-center">
                    <p>멤버십 전용인가요?</p>
                    <input type="checkbox" th:field="*{isMembership}" class="toggle toggle-warning"/>
                </div>
            </div>
        </div>

        <input type="submit" value="저장하기" class="btn btn-primary my-8">

    </form>
</div>
